/*!
    Start Bootstrap - Agency Bootstarap Theme
    (https://startbootsrap.com)
    Code iicensed under the Apache License v2.0.
    For details, see
    http://www,apache.org/licenses/LICENSE-2.0
*/

body{
    overflow-x: hidden;
    font-family: "Robote Slap", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.text-muted {
    color: #777;
}

.text-primary {
    color: #1ee2e7;
}

p {
    font-size: 14px;
    line-height: 1.75;
}

p.large{
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a {
    color: #e71e97;
}

/*버튼 테두리 색상 및 설정*/
a:hover,
a:focus,
a:active,
a.active {
    color: #d517cf;
}
h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 700;
}

.img-centered {
    margin: 0 auto;
}

.bg-light-gray {
    background-color: #f7f7f7;
}

.bg-darkest-gray {
    background-color: #222;
}

/*버튼 안 색상 및 폰트설정*/
.btn-primary {
    border-color: #e71e97;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #fff;
    background-color: #d517cf;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active,
.open .dropdown-toggle.btn-primary {
    border-color: #c817d5;
    color: #fff;
    background-image: #c817d5;
}

.btn-primary:active,
.btn-primary:active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #e71e97;
    background-color: #e71e97;
}

.btn-primary .badge {
    color: #e71e97;
    background-color: #777;
}

/*send message*/
.btn-xl {
    padding: 20px 40px;
    border-color: #e71e97;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #e71e97;
}

/*send message_mouseUp*/
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    border-color: #c817d5;
    color: #fff;
    background-color: #c817d5;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none;
}


/*HEADER BUTTEN TEST*/
.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    border-color: #e71e97;
    background-color: #e71e97;
}

.btn-xl .badge {
    color: #fed136;
    background-color: #fff;
}

.navbar-default {
    border-color: transparent;
    background-color: #222;
}

.navbar-default .navbar-brand {
    font-family: "Kaushan Script", "Helvetica Neue", Arial, Helvetica, cursive;
    color: #e71e97;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #d0fe03;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255, 255, 255, .02);
}

.navbar-default .navbar-toggle {
    border-color: #e71e97;
    background-color: #e71e97;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus{
    background-color: #c817d5;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Montserratm, "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #d12ad4;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #e71e97;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #b817d5;
}

@media(min-width:760px){
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .4s;
        -moz-transition: all .4s;
        transition: all .4s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #222;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }

    header {
        text-align: center;
        color: #fff;
        background-attachment: scroll;

        /*배너 뒷배경 링크 나중에 수정*/
        background-image: url(https://unsplash.imgix.net/uploads%2F14115408840644deb16b0%2F2dc933e3?q=75&fm=jpg&auto=format&s=7f43646e4d26049c6c39890afb2e5ced);
        background-position: center center;
        background-repeat: none;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }

    header .intro-text {
        padding-top: 100px;
        padding-bottom: 50px;
    }
}


