:root {
    --text-color:white;
    --background-color:#d4669d;
    --accent-color: rgb(89, 21, 135);
    --accentB-color: #6621ab;
    --font-color: #fff;
}
body{
    margin: 0;
    left: 20px;
    font-family: 'Tapestry';
    overflow-x:hidden;
}
a {
    text-decoration: none;
    color: var(--text-color);
}

.navbar__logo{
    font-size: 24px;
    color: var(--text-color);
    fill: coral;
}
.navbar__logo svg{
    color: var(--text-color);
}

.navbar__menu, .skills1, .skills2, .skills3, .languages__list li, .footer__me {
    display: flex;
    list-style: none;
    padding-left: 0;
}
 #YoutubeClone__story {
     position: absolute;
     margin: 120px 0 0 20px;
     font-size: 20px;
 }
.story {
    display: flex;
}
.navbar__menu li {
    padding: 8px 20px;
}

.skills1 li, .skills2 li, .skills3 li {
    padding: 8px 20px;
}
.navbar__menu li:hover {
    background-color: var(--background-color);
    border-radius: 4px;
}

.navbar__icons {
    list-style: none;
    color: var(--text-color);
    display: flex;
    padding-left: 0;
}

.navbar__icons li{
    padding: 8px 12px;
}
.navbar {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--accent-color);
    padding: 8px 12px;
}

.navbar a{
    padding: 0 12px;
}
#navbar__twitter, #navbar__facebook {
    fill: #f98323;
}
#navbar__twitter:hover, #navbar__facebook:hover {
    fill: #df42f0;
}

.headbar__developer {
    color: var(--font-color);
    padding-top: 40px;
    background-color: var(--accentB-color);
    height: 700px;
}
.skills__title, .stories__title, .project__title {
    margin-top: 40px;
}

.project__background, .footer__background {
    background-color: #222;
    padding: 10px 20px 20px;
}

.footer__background {
    color: #fff;
    overflow: hidden;
}


.headbar__title {
    margin: 0;
    background-color: rgb(44, 16, 36);
    padding: 10px 20px 20px;
}

.headbar__name {
    margin: 0;
    font-size: 140px;
    color: #d466cd;
    position: relative;
    margin: 60px 0 0 60px;
}
.headbar__name:hover, .headbar__position:hover {
    color: #fff;
}

.headbar__position {
    font-size: 140px;
    color: #d466cd;
    position: relative;
    text-align: right;
    margin-right: 60px;
}
#developer__border_title_left{
    border: 3px solid rgb(248, 164, 164);
    margin-top: 40px;
    width: 160px;
    margin-left: 30px;
    font-size: 25px;
    border-radius: 10px;
    transform: rotate(-22deg);
    background-color: var(--accentB-color);
    position: absolute;
}

#developer__border_left {
    margin-top: 70px;
    border: 5px solid red;
    border-radius: 20px;
    font-size: 20px;
    margin-left: 70px;
    width: 920px;
    height: 150px;
}

#developer__border_title_right{
    position: absolute;
    border: 3px solid rgb(248, 164, 164);
    margin-top: 40px;
    width: 177px;
    border-radius: 10px;
    margin-left: 1270px;
    font-size: 25px;
    background-color: var(--accentB-color);
    transform: rotate(22deg);
    
}

#developer__border_right {
    border: 5px solid red;
    border-radius: 20px;
    font-size: 20px;
    margin-left: 450px;
    width: 950px;
    height: 150px;
    margin-top: 130px;
    
}

.skills__title, .developer__title{
    padding: 0 15px 12px;
    font-size: 100px;
    color: #F7F7F7;
    text-shadow: 3px 3px 5px #F2FA5A;
    font-style: unset;
    font-weight: 700;
}
.project__title {
    padding: 0 15px 12px;
    font-size: 80px;
    color: #F7F7F7;
    text-shadow: 3px 3px 5px #06FF00;
    font-style: unset;
    font-weight: 700;
}
.stories__title {
    padding: 0 15px 12px;
    font-size: 140px;
    color: #9805b5;
    text-shadow: 3px 3px 5px #ea5959;
    font-style: unset;
    font-weight: 700;
}
.skills__background {
    margin: 0;
    padding: 10px 20px 20px;
    font-size: 20px;
    background-color: #222;
    height: 550px;
}
.skills__subtitle1 {
    padding: 0 15px 0;
    color: #df42f0;
    text-shadow: 5px 2px 10px rgb(104, 103, 103);
    transform: rotate(-22deg);
    position: absolute;
    font-style: unset;
    
}
.skills__subtitle2 {
    padding: 0 15px 0;
    color: #df42f0;
    text-shadow: 5px 2px 10px rgb(104, 103, 103);
    transform: rotate(-22deg);
    position: absolute;
    font-style: unset;
    
}
.skills__subtitle3 {
    padding: 0 15px 0;
    color: #df42f0;
    text-shadow: 5px 2px 10px rgb(104, 103, 103);
    transform: rotate(-22deg);
    margin-left: 35px;
    position: absolute;
    font-style: unset;
    
}
.skills1 {
    border-radius: 12px;
    background-color: #EEEDDE;
    font-weight: 100px;
    margin: 40px 0 0 80px;
    width: 870px;
    height: 50px;
}
.skills2 {
    border-radius: 12px;
    background-color: #EEEDDE;
    font-weight: 100px;
    margin: 40px 0 0 80px;
    width: 870px;
    height: 50px;
}
.skills3 {
    border-radius: 12px;
    background-color: #EEEDDE;
    font-weight: 100px;
    margin: 40px 0 0 80px;
    width: 870px;
    height: 50px;
}

.career__background {
    margin: 0;
    padding: 10px 20px 20px;
    font-size: 20px;
    background-color: #EEEDDE;
}
.story__title {
    position: absolute;
    color: #EEEDDE;
    font-weight: 300px;
    font-size: 20px;
    background-color: #9805b5;
    border: 2px solid #9805b5;
    text-shadow: 3px 3px 5px #222;
    border-radius: 150px;
    text-align: center;
    padding: 50px 10px;
    width: 150px;
    height: 65px;
}
#story__title1, #story__title2, #story__title3, #story__title4, #story__title5, #story__title6{
    margin: -5px 0 0 670px;
    
}
#story1, #story2, #story3, #story4, #story5, #story6 {
 border: 3px solid #6621ab;
 border-radius: 10px;
 width: 660px;
 margin-left: 50px;
} 
#story1 {
    margin-top: 130px;
    background-color: #143F6B;
    color: #EEEDDE;
    padding-top: 20px;
}

#story2, #story3, #story4, #story5, #story6 {
    margin-top: 150px;
    padding-top: 20px;
    background-color: #143F6B;
    color: #EEEDDE;
}

#story2, #story4, #story6 {
    margin-left: 760px;
}
.languages__list {
    margin: 40px 20px 0 60px;
    padding: 20px;
    color: #fff;
    display: flex;
    border: 3px solid #06FF00;
    border-radius: 30px;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow: auto;
    width: 880px;
    height: 300px;
}
#YoutubeClone__title{
    position: absolute;
    color: #222;
    margin: -50px 0 0 -60px;
    font-size: 40px;
    text-align: center;
    transform: rotate(-5deg);
    border: 1px solid #06FF00;
    background-color: #06FF00;
    border-radius: 10px;
    height: 45px;
    width: 400px;
}
#YoutubeClone__date {
    position: absolute;
    margin: -35px 0 0 600px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100px;
    text-align: center;
    font-size: 18px;
    background-color: #222;
    width: 260px;
}
.language {
    margin: 10px 10px;
    padding: 3px 5px;
    color: black;
    background-color: #fff;
    border-radius: 8px;
}
#YoutubeClone__icon {
 margin: -24px 0 0 860px ;
 background-color: #222;
 fill: #06FF00;
}

#footer__webdeveloper {
    position: absolute;
    right: 30px;
    margin: 0 180px 0 0;
    color: rgb(87, 87, 87);
    font-size: 20px;
}
#footer__name {
    position: absolute;
    right: 30px;
    margin: 0 10px 0 0;
    color: #F7F7F7;
    font-size: 20px;
}

#YoutubeClone__icon:hover{
    fill: #fff;
}
.navbar__title #email {
    color: #222;
}
h2 {
    font-size: 30px;
}
.skill {
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    body, .footer__background {
        flex-direction: column;
        align-items: flex-start;
        padding: 2px 15px;
    }

    .navbar__menu, .headbar__developer, .skills__background, .career__background, .languages__list
    .footer__background{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar__menu li {
        width: 100%;
        text-align: center;
    }

    .navbar__icons {
        display: none;
        justify-content: center;
        width: 100%;
    }

    .navbar__menu.active,
    .navbar__icons.active {
        display: flex;
    }
}