:root {
    --text-color:white;
    --background-color:#d4669d;
    --accent-color: rgb(89, 21, 135);
}
body{
    margin: 0;
    font-family: 'Tapestry';
}
a {
    text-decoration: none;
    color: var(--text-color);
}
.navbar__logo{
    font-size: 24px;
    color: var(--text-color);
}
.navbar__logo svg{
    color: var(--text-color);
}

.navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}
.navbar__menu li {
    padding: 8px 20px;
}
.navbar__menu li:hover {
    background-color: var(--background-color);
    border-radius: 4px;
}

.navbar__icons {
    list-style: none;
    color: var(--text-color);
    display: flex;
    padding-left: 0;
}

.navbar__icons li{
    padding: 8px 12px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--accent-color);
    padding: 8px 12px;
}

.navbar a{
    padding: 0 12px;
}

.navbar__toogleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
}

.headbar__title {
    background-color: rgb(44, 16, 36);
    padding: 10px 20px 20px;
}

.navbar__name {
    font-size: 140px;
    color: #d466cd;
    position: relative;
    left: 50px;
}

.navbar__position {
    font-size: 140px;
    color: #d466cd;
    position: relative;
    right: -250px;
}

.navbar__title {
    padding: 0 15px 12px;
    font-size: 50px;
}
.navbar__title #email {
    color: #222;
}
h2 {
    font-size: 30px;
}
.story {
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar__menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar__menu li {
        width: 100%;
        text-align: center;
    }

    .navbar__icons {
        display: none;
        justify-content: center;
        width: 100%;
    }

    .navbar__toogleBtn {
        display: block;
    }

    .navbar__menu.active,
    .navbar__icons.active {
        display: flex;
    }
}